/* 
Resources: 
- https://github.com/twbs/bootstrap/blob/main/scss/_variables.scss
- https://quarto.org/docs/output-formats/html-themes.html
*/

/*-- scss:defaults --*/

// Base document colors
$body-bg: #181818;
$body-color: white;
$link-color: red;

/*-- scss:rules --*/

// h1, h2, h3, h4, h5, h6 {
//   text-shadow: -1px -1px 0 rgba(0, 0, 0, .3);
// }
